<%= form_for @player, :html => { :multipart => true } do |f|  %>

<% form_tag players_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

  <% if @player.errors.any? %>
    <% @player.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <p><%= f.file_field :photo %></p>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

    <p>
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </p>

   <p>
    <%= f.label :height, "Height in cm" %><br>
    <%= f.text_field :height %>
  </p>

   <p>
    <%= f.label :weight, "Weight in kg" %><br>
    <%= f.text_field :weight %>
  </p>

  <p>
    <%= f.label :position %><br>
    <%= collection_select(:player, :position_id, Position.all, :id, :name, include_blank: true) %>
  </p>

   <p>
    <%= f.label :team %><br>
    <%= collection_select(:player, :team_id, Team.all, :id, :name, include_blank: true) %>
  </p>

  <p>
    <%= f.label :league %><br>
    <%= collection_select(:player, :league_id, League.all, :id, :name, include_blank: true) %>
  </p>

  <p>
    <%= collection_check_boxes(:player, :skill_ids, Skill.all, :id, :name) %>
  </p>

  <p>
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </p>

  <p>
    <%= f.label :author %><br>
    <%= collection_select(:player, :author_id, Author.all, :id, :last_name, include_blank: true) %>
  </p>

  <%= f.submit %>
<% end %>
