<body>

    </div>
      <div class="row">
      <div class ="left_buffer">
        <div class="col-md-4">
          <h2>All Players</h2>
          <p>
      <tbody>
        <% @players.each do |player| %>
          <tr>
          
          <td><%= image_tag player.photo.url(:small) %></td>
          <strong><td><%= link_to(player.first_name, player_path(player)) %></td>
          <td><%= link_to(player.last_name, player_path(player)) %></td>
          </strong>
          <em><td><%= player.position.name %></td></em>
          <td><%= link_to "edit", edit_player_path(player) %></td>
          <td><%= link_to "delete", player_path(player), method: :delete, data: {confirm: "Really want to delete this player?"}%></td><br>
        <% end %>

          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
        <div class="col-md-4">
          <h2>All Leagues</h2>
            <img src="/images/leagues_map.jpg" alt="All Positions" height="280" width="280" />

          <p><a class="btn btn-default" href="http://localhost:3000/leagues" role="button">View details &raquo;</a></p>
       </div>

        <div class="col-md-4">
          <h2>All Positions</h2>
          <img src="/images/positions.png" alt="All Positions" height="280" width="280" />
          <p><a class="btn btn-default" href="http://localhost:3000/positions" role="button">View details &raquo;</a></p>
        </div>
      </div>

<%= link_to "Create a New Player", new_player_path %>
<%= link_to "Create a New Team", new_team_path %>




