<h1>I am the homepage</h1>

<h1>The New And Amazing Player Database</h1>

<%= link_to "Create a New Player", new_player_path %>
<%= link_to "Create a New Team", new_team_path %>


<br />
<br />
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Position</th>
    <th>Team</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to(player.first_name, player_path(player)) %></td>
        <!-- This is not ideal, might have to put the link on the image -->
        <td><%= player.last_name %></td>
        <td><%= player.position %></td>
        <td><%= player.team %></td>
        <td><%= link_to "edit", edit_player_path(player) %></td>
        <td><%= link_to "delete", player_path(player), method: :delete, data: {confirm: "Really want to delete this baller?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

