<%= link_to "Back to All players", players_path %>

<p><%= image_tag @player.photo.url(:medium) %></p>

<p>
  <strong>First Name:</strong> <%= @player.first_name %>
</p>

<p>
  <strong>Last Name:</strong> <%= @player.last_name %>
</p>

<p>
  <strong>Position:</strong> <%= @player.position %>
</p>

<p>
  <strong>Strong foot:</strong> <%= @player.strong_foot %>
</p>

<p>
  <strong>Team:</strong> <%= @player.team.name %>
</p>

<p>
  <strong>League:</strong><%= @player.league.name %>
</p>

<!-- player.league.name must be added, first have to fix why no update though -->

<!-- League comes from external table-->

<p>
  <strong>Height:</strong> <%= @player.height %>
</p>

<p>
  <strong>Weight:</strong> <%= @player.weight %>
</p>

<p>
  <strong>Bio:</strong> <%= @player.bio %>
</p>

<strong>Skills:</strong>
<ul>
  <% @player.skills.each do |skill| %>
  <li><%= skill.name %></li>
  <% end %>
</ul>

<br />
<td><%= link_to "edit", edit_player_path(@player) %></td>
